// margin helpers
.mt-0 {
    margin-top: 0;
}

.mt-50 {
    margin-top: 5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-50 {
    margin-bottom: 5rem;
}


// padding helpers
.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-50 {
    padding-top: 5rem;
}

.pb-50 {
    padding-bottom: 5rem;
}

.text-center {
    text-align: center;
}