* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-size: 10px;    
}

body {
    font-family: $font-family;
    font-size: clamp(14px, 1.6rem, 1.6rem);
    line-height: clamp(20px, 2.3rem, 2.3rem);
    background-color: $body-color;
}

@media only screen and (min-width: 320px) {
    html {
        font-size: 5px;    
    }
}

@media only screen and (min-width: 500px) {
    html {
        font-size: 6px;    
    }
}

@media only screen and (min-width: 728px) {
    html {
        font-size: 6.5px;    
    }
}

@media only screen and (min-width: 991px) {
    html {
        font-size: 7px;    
    }
}

@media only screen and (min-width: 1028px) {
    html {
        font-size: 8px;    
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 9px;    
    }
}

@media only screen and (min-width: 1400px) {
    html {
        font-size: 10px;    
    }
}

img {
    max-width: 100%;
    height: auto !important; 
}



::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
}

::-webkit-scrollbar-thumb:hover {
    background: $text-color;
}

::-webkit-scrollbar-track {
    background: $body-color;
}