// nepoužívat red, black, white apod. -> používat hex nebo rgba formát
$main-color: #db4780;
$main-color-light: #ffdbe9;
$second-color: #00a99d;
$text-color: #333;
$base-white: #fff;
$base-black: #000;
$body-color: #f7f7f7;
$color-line: #dbdbdb;
$font-family: 'Montserrat Alternates', sans-serif;
