.image-content {
    margin: 10rem 0;

    h2 {
        margin: 0 0 2rem 0;
    }

    &.reversed-item {
        .image-content-photo {
            order: -1;
        }
    }
}

.image-content-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .image-content-photo {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

