<footer>
    <div class="base-container">
        <div class="footer-contact">
            <h2>
                Kontakt
                <span class="subtitle">Neváhejte mě kontaktovat</span>
            </h2>
            <div class="footer-contact-container">
                <div class="footer-contact-content">
                    <div class="footer-contact-item phone"><a href="tel:777 112 765">777 112 765</a></div>
                    <div class="footer-contact-item studio">Kosmetické studio Synergy</div>
                    <div class="footer-contact-item email"><a
                            href="mailto:synergymb1@gmail.com">synergymb1@gmail.com</a>
                    </div>
                    <div class="footer-contact-item payment">Bez možnosti placení platební kartou</div>
                </div>
                <div class="footer-contact-image">
                    <img src="../images/flt_synergy_contact.svg" alt="" />
                </div>
            </div>

        </div>
        <div class="footer-middle">
            <div class="footer-crosslink">
                <div class="footer-crosslink-item">
                    <a href="#">Kosmetika</a>
                </div class="footer-crosslink-item">
                <div class="footer-crosslink-item">
                    <a href="#">Péče o řasy</a>
                </div>
                <div class="footer-crosslink-item">
                    <a href="#">Péče o tělo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2142.5291177945596!2d16.374194714780277!3d49.101903624966724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712a3515b924e65%3A0xcb912b2d391e5b4c!2zxaBpcm9rw6EgMzY2LzEsIDY2NCA5MSBJdmFuxI1pY2U!5e0!3m2!1scs!2scz!4v1662128305336!5m2!1scs!2scz"
             allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="base-container">
        <div class="footer-copy">
            copy web Vojtech Toporcer
        </div>
    </div>
</footer>