<header>
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img src="./images/logo-small.svg"/>
            </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="/">O nás</a></li>
                <li><a href="/">Kosmetika</a></li>
                <li><a href="/">Péče o řasy a obočí</a></li>
                <li><a href="/">Péče o tělo</a></li>
                <li><a href="/">IPL</a></li>
                <li><a href="/cenik.html">Ceník</a></li>
            </ul>
        </div>
        <div class="header-cta">
            <a class="btn btn-primary" href="/">Kontakt</a>
        </div>
    </div>
    <div data-pricelist-header>
    </div>
</header>
